.list-container{
	display: flex;
	flex-direction: column;
	width: 90vw;
	height: 900px;
	flex-wrap: wrap;
	gap: 10px;
}
.task-details{
	display: flex;
	flex-direction: column;
	width: 25%;
	height: auto;
	margin: 10px;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ccc;
	padding: 10px;
	color: #000;
	
}
.high-priority{
	border: 2px solid red;
	background-color: red;
}
.medium-priority{
	border: 2px solid orange;
	background-color: orange;
}
.low-priority{
	border: 2px solid yellow;
	background-color: yellow;
}	
.title{
	font-size: 18px;
	font-weight: bold;
}