.home-header{
	display: flex;
	font-size: 2rem;
	color: #333;
	text-align: center;
	margin-top: 20px;
}
.search-input{
	width: 50%;
	padding: 10px;
	margin: 20px auto;
	display: block;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}
.add-task-button{
	display: block;
	margin: 10px auto;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
}